/* IMPORT */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


/* VARIABLES */
:root{
    --maroon-ara: #A3958F;
    --white-ara: #F6F5F4;
    --black-ara: #0D0B08;
    --light-blue-ara: #9FB0D6;
    --duck-blue-ara: #086788;
    /* --logo-size: 50px; */
    --logo-size: 10vw;
    --icons-size: 30px;
    /* --font-large-size: 30px;
    --font-medium-size: 20px;
    --font-light-size: 15px; */
    /* --font-small-size: 12px; */
    --font-large-size: 1.5rem;
    --font-medium-size: 1.3rem;
    --font-light-size: 1.1rem;
    --font-small-size: 0.9rem;
}

/* ALL */
* {
    font-family: 'Inter', sans-serif;
}

/* HEADER */
.header{
    margin:auto;
}
.header__title h1{
    display: none;
}
.header__title img{
    width: 15vw;
}
.navbar-toggle-icon{
    width: var(--icons-size);
}
.header__products__actions a img{
    width: var(--icons-size) ;
}

/* HERO SECTION */
.header__hero-section{
    padding: 0;

}
.header__hero-section--promotion{
    background-image: url(./images/hero-bg.png);
    height:9vh;
    width: 100%;
}
.header__hero-section--promotion p {
    font-family: Inter;
    font-size: var(--font-medium-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* CARDS */
.main__product__card  {
    max-width: 540px;
}
.main__product__card__bg{
    /* width: 50vw; */
}
.main__product__card__infos h5 span{
    font-size: var(--font-small-size);
}

.main__product__card__infos .card-text{
    font-size: var(--font-small-size)
}
.main__card__product-actions .icon-link img{
    width: var(--icons-size) ;
}

/* Newsletter */
.main__aside__newsletter{
    background-color: var(--duck-blue-ara);
}
.main__aside__newsletter h4{
   font-size: var(--font-light-size); 
}
.main__aside__newsletter form label{
    font-size: var(--font-light-size); 
    color: var(--maroon-ara);
 }
.main__aside__newsletter form img {
    position: relative;
    width: var(--icons-size);
    top: -45px;
    right: -85%;
}

/* FOOTER */
.footer__hero img{
    width: var(--logo-size);
}
.footer__categories ul li a,
.footer__socials h5,
.footer__secured-payments h5 {
    font-size: var(--font-small-size);
}
.footer__categories__border{
    margin-left: 8px;
    border-right: 1px solid var(--white-ara);
}
.footer-socials-icons svg,
.footer__secured-payments svg{
    margin: 0 5px;
}

/* RESPONSIVE */

@media only screen and (min-width: 576px) {
    body{
        overflow-y: visible;
    }
    .header__hero-section--promotion{
        background-image: url('./images/hero-bg-md.jpg');
        background-size: cover;
        width: 100%;
        background-position: bottom 40% right 0%;
        height:10vh;
    }

    .header__hero-section--promotion p{
        font-size: var(--font-large-size);
    }
    .main__product__card__bg{
        justify-content: center;
        height: fit-content !important;
    }
    .main__product__card__bg img{
        width: 25vw;
    }
    .main__product__card__infos.card-body{
        padding-bottom: 0;
    }
    .main__product__card__infos.row > p {
        margin-bottom: 0;
    }

    .main__aside__newsletter h4{
        font-size: var(--font-medium-size); 
    }
    .main__aside__newsletter form img{
        right: -90%;
    }
}
@media only screen and (min-width: 992px){
    #navbarSupportedContent{
        flex-direction: row-reverse;
    }
}