

.image-slider {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; /* Couleur de fond, à ajuster selon vos besoins */
}

.image-slider img {
  width: 100%;
  object-fit: cover; /* Ajuste la taille de l'image pour couvrir la totalité du conteneur */
  position: absolute;
  height: 50%;
}

.bouton-slider {
  font-size: 2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero-motto {
  text-align: center;
  padding: 5%;
  font-family: inherit;
  color:rgb(8, 103, 136) ;
  font-size: 25px;
  font-weight: bold;
}
